
body {
    background-color:darkgrey
}
header {
    background-color: firebrick; border: 10px outset firebrick;
}
div.info{
    text-align: center; background-color: rgb(38, 0, 255); color: whitesmoke;
}
h1 {
    text-align: center; font-size: 36pt; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-align: center; font-size: 18pt; font-family: cursive;
}
p {
    color:darkgray; font-size: 22pt; text-align: center;
}
img {
    border: 8px solid rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}